[user]
	name = Dmytro
	email = example@gmail.com
[core]
	editor = nvim
	excludesFile = ~/.gitignore
[alias]
	l = log --all --graph --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
